# IDE related
.vs
.vscode/settings.json
.ionide

# OS related
.DS_Store

# Build files
build/*
build-linux/*
bin
obj

# Compiled shared libraries
/runtimes/*
/prebuilt/*

# Extracted test meshes (we only commit the .zip archives)
Data/*
!Data/*.zip